#### Data set contains information of price, transmission, mileage, fuel type, road tax, miles per gallon (mpg), and engine size

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os
import glob

In [62]:
df = pd.read_csv('./data/audi.csv')
files = [file for file in os.listdir("./data")]
all_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("./data/"+file)
    all_data = pd.concat([all_data,df])
all_data.to_csv('final.csv', index=False)

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [63]:
dfs = glob.glob('data/*.csv')

result = pd.concat([pd.read_csv(df) for df in dfs],join='inner')

result.to_csv('data/merge.csv', index=False)

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (2,4) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [64]:
df = pd.read_csv('data/merge.csv')
df.head()

  model    year  price transmission mileage
0    A1  2017.0  12500       Manual   15735
1    A6  2016.0  16500    Automatic   36203
2    A1  2016.0  11000       Manual   29946
3    A4  2017.0  16800    Automatic   25952
4    A3  2019.0  17300       Manual    1998

In [65]:
df.columns.to_list()

['model', 'year', 'price', 'transmission', 'mileage']

In [108]:
manufac= {}
file_name = pd.Series(os.listdir('data')).str.split('.')[1:12].str[0]
file_name

1         audi
2          bmw
3       cclass
4        focus
5         ford
6       hyundi
7         merc
8        merge
9        skoda
10      toyota
11    vauxhall
dtype: object

In [118]:
def manufracture(x):
    a = pd.read_csv('data/'+x)
    return a.model.unique()
    
for i in file_name:
    manufac[i.title()] = manufracture(i+'.csv')

In [137]:
for mf in manufac:
    for i in manufac[mf]:
        if i in df.model:
            df['manufracture'] = mf

In [138]:
df.head()

  model    year  price transmission mileage
0    A1  2017.0  12500       Manual   15735
1    A6  2016.0  16500    Automatic   36203
2    A1  2016.0  11000       Manual   29946
3    A4  2017.0  16800    Automatic   25952
4    A3  2019.0  17300       Manual    1998