#### Data set contains information of price, transmission, mileage, fuel type, road tax, miles per gallon (mpg), and engine size

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os
import glob
os.chdir("data")

In [7]:
#Combine all CSVs to single file.
extension = "csv"
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combine all files in the list
combined = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined.to_csv( "combined.csv", index=False, encoding='utf-8-sig')

In [8]:
df = pd.read_csv("combined.csv")
df.head()

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,4,10,11,12,13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,tax(£),fuel type,engine size,mileage2,fuel type2,engine size2,reference
0,A1,2017.0,12500,Manual,15735,Petrol,150.0,55.4,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A6,2016.0,16500,Automatic,36203,Diesel,20.0,64.2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A1,2016.0,11000,Manual,29946,Petrol,30.0,55.4,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A4,2017.0,16800,Automatic,25952,Diesel,145.0,67.3,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A3,2019.0,17300,Manual,1998,Petrol,145.0,49.6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.tail()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,tax(£),fuel type,engine size,mileage2,fuel type2,engine size2,reference
236295,Eos,2012.0,5990,Manual,74000,Diesel,125.0,58.9,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236296,Fox,2008.0,1799,Manual,88102,Petrol,145.0,46.3,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236297,Fox,2009.0,1590,Manual,70000,Petrol,200.0,42.0,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236298,Fox,2006.0,1250,Manual,82704,Petrol,150.0,46.3,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236299,Fox,2007.0,2295,Manual,74000,Petrol,145.0,46.3,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN